[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule ".vim/autoload"]
	path = .vim
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-lightline"]
	path = .vim/bundle/vim-lightline
  url = git://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/vim-youcompleteme"]
	path = .vim/bundle/vim-youcompleteme
	url = git://github.com/Calloric/YouCompleteMe.git
